 /*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {  
        // ---------------------------------------------------------------------------------------------------------------------------------
        // |         |          |          |          |          |  ESC    |  TAB    |         |          |          |          |          |
        // |         |   LEFT   |   DOWN   |  RIGHT   |          |  ENTER  |         |         |  LIGHT   |  MEDIUM  |  THROW   |  SKILL   |
        // |         |          |          |          |          |         |         |         |  UNIQUE  |  HEAVY   |   DASH   |  BLOCK   |
        // |         |          |          |          |    UP    |         |         |         |          |          |          |          |
        // ---------------------------------------------------------------------------------------------------------------------------------
            bindings = <
                &none    &none    &none    &none    &none     &kp ESC   &kp TAB   &none    &none     &none     &none     &none
                &none    &kp A    &kp S    &kp D    &none     &kp ENTER &none     &none    &kp U     &kp I     &kp O     &kp P
                &none    &none    &none    &none    &none     &none     &none     &none    &kp J     &kp K     &kp L     &kp SEMI
                &none    &none    &none    &none    &kp W     &none     &none     &none    &none     &none     &none     &none
                &none    &none    &none    &none    &none     &none     &none     &none    &none     &none     &none     &none
            >;
        };
    };
};




